﻿div {
	border-radius: 5px;
}

body {
	margin: 0;
}
#header {
	z-index: 1;
	position: fixed;
	width: 75%;
	margin: -10px 10px 0 10px;
	height: 60px;
	background-color: #207E62;
	margin-bottom: 10px;
}

#name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#email{
	float:right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;
}

.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: Garamond, serif;
	color: #000000;
}

li {
	list-style-type: square;
}
a {
	text-decoration: none;
	color: #000000;
}
a:hover {
	font-weight: bold;
	color: #ffffff;
}

.left {
	position: relative;
	float: left;
	margin: 60px 10px 10px 10px;
	width: 10%;
	height: 400px;
	background-color: #35D4A4;
}
.left div {
	display: inline-block;
	width: 100%;
	height: 50px;
	line-height: 300%;
	text-align: center;
}
.left div:hover {
	background-color: #207E62;
}

.right {
	position: relative;
	float: left;
	margin: 60px 10px 10px 0;
	width: 64%;
	height: 400px;
	background-color: #FAF7D4  ;/* 35D4A4#F4EBC3 */
	display: inline-block;
}
.right img {
	width: 100px;
	height: 133px;
	border-radius: 5px;
	float: right;
	margin: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.right img:hover {
	width: 130px;
	height: 173px;
}
#footer {
	position: relative;
	height: 50px;
	background-color: #207E62;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
	width: 75%;
	margin: 50px 10px 10px 10px;
}

#footer p {
	position: relative;
	padding-top: 15px;
}
