﻿header, logo img, aside, section, .bs, .anchor, section img, footer, aside div {
    border-radius: 15px;
}
body {
    background-color: #daeef0;
}
.wrapper {
width: 960px;
margin: auto;
}
header {
    width: 100%;
    height: 100px;
    background-color: #7fffd4;
    /*z-index: 1;*/
    margin-top: 1px;
    margin-bottom: 10px;
}
header div {
    display: inline-block;
    padding: 20px;
}
.name {
    font-size: 2em;
    font-family:Vivaldi;
}

logo img {
    max-width: 100%;
    max-height: 100%;
    opacity: 0.5;
    float:right;
}
aside {
    width: 19%;
    height: 400px;
    background-color:#00ffff;
    float:left;
    margin-bottom: 10px;
}
aside:first-child {
    margin-top: 100px;
}
aside div {
    display:block;
    text-align: center;
    line-height: 3em;
}
aside div:hover {
    background-color: #7fffd4;
}
section {
    width: 80%;
    height: 400px;
    background-color:#00ffff;
    float:right;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 20px;
	
}
section p {

   
}
.anchor{
    float: left;
    height: 180px;
    width: 180px;
    margin: 5px 20px 20px 5px;
}
.anchor:hover{
    text-decoration: none;
}
.anchor img {
    opacity:.75;
    
    height: 100%;
    width: 100%;
}

#shake-me-callback {
    height: 100px;
    width: 100px;
    color: #ff0011;
}
footer {
    width: 100%;
    height: 100px;
    background-color: #7fffd4;
    clear: both;
	
    margin-top: 10px;
}
footer div {
    text-align: center;
	padding: 15px;
    /* position: relative; */
}
footer div  div{
    display: inline-block;
    padding: 20px;
}
