﻿body {
    background-color: #fefefe;
}
table {
    margin: auto;
    margin-top: 100px;
    border-collapse: separate;
    border-spacing: 0px 0px;
    border-radius: 5px;
    border: 5px outset #000000;
    
}
td {
    width: 100px;
    height: 100px;
    border: 5px inset #000000;
    font-family:'Comic Sans MS';
    font-size: 4em;
    text-align: center;

}
p {
    width: 100px;
    padding: 15px;
    text-align: center;
}
